<div *ngFor="let participant of orderParticipantsByPlace(); trackBy: trackById; let winner = even">
  <app-league-participants-row [participant]="participant" [isWinner]="winner"></app-league-participants-row>
</div>
