<ng-container *ngIf="leagues$ | async; let leagues">
  <app-league-header [leagueName]="leagues.league.name?.normal" [startDate]="leagues.league.timeline?.signUp?.begin"></app-league-header>
  <app-league-contestants-list [leagueResults]="leagues.leagueResults"></app-league-contestants-list>
</ng-container>
