<div class="contestants-row">
  <div class="contestants-row__time">{{ leagueResult.beginAt | isoTime }}</div>
  <div class="contestants-row__team-result">
    <app-league-participants-list [participants]="leagueResult.participants"></app-league-participants-list>
  </div>
</div>
