.contestants-row {
  border-bottom: 1px solid #e2e5ea;
  padding: 1rem 1rem 0 1rem;
  line-height: 1;

  .contestants-row__time {
    color: #818f8f;
    font-size: 14px;
    line-height: 19px;
    margin-bottom: 5px;
  }

  .contestants-row__team-result {
    color: #333333;
    font-size: 21px;
  }
}
