.league-header {
  background-color: #fff;
  box-sizing: border-box;
  border-top: 6px solid #28b662;
  margin-bottom: 1rem;
  padding: 1rem;

  .league-header__name,
  .league-header__date {
    color: #333333;
    font-style: normal;
  }

  .league-header__name {
    font-size: 21px;
    font-weight: bold;
    line-height: 29px;
  }

  .league-header__date {
    font-size: 14px;
    line-height: 19px;
  }
}
