<div
  class="participant"
  [ngClass]="{
    'participant--winner': isWinner,
    'participant--loser': !isWinner
  }"
>
  <div class="participant__name">
    {{ participant.name }}
  </div>

  <div class="participant__points">
    {{ participant.points[0] }}
  </div>
</div>
