.participant {
  display: flex;
  margin-bottom: 1rem;
  padding-left: 0.5rem;

  .participant__name {
    flex: 1 1 auto;
    font-size: 16px;
    line-height: 22px;
  }
}

.participant--winner {
  border-left: 4px solid #28b662;
  .participant__points {
    font-weight: bold;
  }
}

.participant--loser {
  border-left: 4px solid #e43726;
}
