.contestant-list {
  background-color: #fff;
  padding-top: 1rem;

  .contestant-list__action {
    display: flex;
    justify-content: flex-end;
    padding-right: 1rem;
  }

  .contestant-list__sort {
    background-color: #fff;
    border: 1px solid #bdc3c7;
    box-sizing: border-box;
    border-radius: 2px;
    cursor: pointer;
    font-size: 14px;
    line-height: 19px;
    padding: 4px 8px;

    &:focus {
      outline: 0;
    }
  }

  .contestant-list__sort--asc {
    &:after {
      content: '\25B4';
    }
  }

  .contestant-list__sort--desc {
    &:after {
      content: '\25BE';
    }
  }
}
