<div class="contestant-list">
  <div class="contestant-list__action">
    <button
      class="contestant-list__sort"
      [ngClass]="{
        'contestant-list__sort--asc': sortedMatches,
        'contestant-list__sort--desc': !sortedMatches
      }"
      (click)="sortMatches()"
    >
      Date
    </button>
  </div>
  <div *ngFor="let leagueResult of leagueResults">
    <app-league-contestants-row [leagueResult]="leagueResult"></app-league-contestants-row>
  </div>
</div>
