/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');

html,
body {
  height: 100%;
  margin: 0;
}

body {
  background: #ebecee;
  font-family: 'Open Sans', sans-serif;
}
